.topbarContainer {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: aqua;
    align-items: center;
    position: sticky;
    top: 0;
}



.topbarLeft{

    flex: 3;
    background-color: red;
}



.topbarCenter{

    flex: 5;
    background-color: blue;
}



.topbarRight{
    
    flex: 4;
    background-color: green;
    display: flex;
}


.topbarIcon{
    display: flex;
}

.topbarImg{
    width: 18px;
    height: auto;
    border-radius: 50px;
}